<!-- 模态框 -->
<div class="modal fade" id="uploadfile">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- 模态框头部 -->
      <div class="modal-header">
        <h4 class="modal-title text-info">上传文件</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- 模态框主体 -->
      <div class="modal-body">
          <input type="file" class="input-group" name="newfile" id="newfile"/>
          <br>
          <br>
          <input type="submit" class="btn btn-info" value="提交" onclick="uploadfile()"/>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>